#titulo_h1{
    color: green;
}

#título_h2{
    color: red;
    text-align: right;

}

#título_h3{

    color: violet;
    text-align: left;
}

#elemento_b{
    color: aqua;
}

#elemento_em{
    color: chocolate;
}

#elemento_strong{
    color: darkred;
}

#elemento_sub{
    color: rosybrown;

}

#elemento_sup{
    color: chartreuse;
}

#elemento_mark{
    color: white;
    background-color: blue;
}